In [2]:
import numpy as np # Linear Algbera
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r'C:\Users\TOLU\Downloads\\energydata_complete.csv')

df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

### Data Exploration

In [5]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [6]:
print('The number of rows in dataset is : ' , df.shape[0])
print('The number of columns in dataset is : ' , df.shape[1])

The number of rows in dataset is :  19735
The number of columns in dataset is :  29

In [7]:
## Number of null values in all columns 
df.isnull().sum().sort_values(ascending =True)

date           0
Tdewpoint      0
Visibility     0
Windspeed      0
RH_out         0
Press_mm_hg    0
T_out          0
RH_9           0
T9             0
RH_8           0
T8             0
RH_7           0
T7             0
rv1            0
RH_6           0
RH_5           0
T5             0
RH_4           0
T4             0
RH_3           0
T3             0
RH_2           0
T2             0
RH_1           0
T1             0
lights         0
Appliances     0
T6             0
rv2            0
dtype: int64

In [68]:
## We have to remove the date column because we are not dealing time series problem, and light column has lots of zseros

In [11]:
df.drop(['date', 'lights'], inplace = True, axis = 1)

In [12]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Feature Selection

In [10]:
df.corr()['Appliances'].abs().sort_values(ascending = False)

Appliances     1.000000
lights         0.197278
RH_out         0.152282
T2             0.120073
T6             0.117638
T_out          0.099155
RH_8           0.094039
Windspeed      0.087122
RH_1           0.086031
T3             0.085060
RH_6           0.083178
RH_2           0.060465
RH_7           0.055642
T1             0.055447
RH_9           0.051462
T4             0.040281
T8             0.039572
RH_3           0.036292
Press_mm_hg    0.034885
T7             0.025801
T5             0.019760
RH_4           0.016965
Tdewpoint      0.015353
rv1            0.011145
rv2            0.011145
T9             0.010010
RH_5           0.006955
Visibility     0.000230
Name: Appliances, dtype: float64

In [20]:
target= ['T6']
drop_columns= ['T_out','Appliances', 'RH_out',
'RH_8','Windspeed', 'RH_1', 'T3', 'RH_6',  'RH_2',  'RH_7' ,'T1','RH_9','T4','T8', 'RH_3', 'Press_mm_hg','T7', 'T5','RH_4', 'Tdewpoint', 'rv1', 'rv2',  'T9',  'RH_5',  'Visibility' ]  
feature=['T2']

### Normalisation

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

features_df = normalised_df.drop(columns=drop_columns + target)
target_df = normalised_df['T6']

In [22]:
features_df.head()

         T2
0  0.225345
1  0.225345
2  0.225345
3  0.225345
4  0.225345

In [23]:
target_df.head()

0    0.381070
1    0.375443
2    0.367487
3    0.363800
4    0.361859
Name: T6, dtype: float64

### Model Implemenation

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features_df, target_df, test_size=0.3, random_state=42)

normalised_rf = LinearRegression()
normalised_rf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
X_train

             T2
9129   0.122850
2453   0.188999
9152   0.057427
12694  0.280834
16952  1.000000
...         ...
11284  0.239157
11964  0.428883
5390   0.152653
860    0.315047
15795  0.275503

[13814 rows x 1 columns]

In [26]:
y_train

9129     0.180420
2453     0.275215
9152     0.131907
12694    0.444040
16952    0.944695
           ...
11284    0.453064
11964    0.697375
5390     0.115704
860      0.211468
15795    0.493524
Name: T6, Length: 13814, dtype: float64

In [29]:
normalised_pred = normalised_rf.predict(X_test)

In [30]:
results = pd.DataFrame({'Actual':y_test, 'Predicted':normalised_pred })
results

         Actual  Predicted
8980   0.211427   0.239289
2754   0.250182   0.467942
9132   0.168777   0.231085
14359  0.501383   0.636355
8875   0.155193   0.155299
...         ...        ...
831    0.179450   0.461897
10993  0.428613   0.332564
11761  0.455974   0.300177
12364  0.560638   0.429726
11863  0.540387   0.321769

[5921 rows x 2 columns]

### Performance Evaluation

In [31]:
from sklearn import metrics

def model_performance(actual, predicted, dp=3):
    """
    Returns the performance metric value for a target value against its predicted value.
    
    Metrics:
        - MAE: Mean Absolute Error
        - RSS: Residual Sum of Squares
        - RMSE: Root Mean Squared Error
        - RSQUARED: R-Sqaured Score
    """
    mae = metrics.mean_absolute_error(actual, predicted)
    print("Mean Absolute Error (MAE): ", round(mae, dp))
    rss = np.sum(np.square(actual - predicted))
    print("Residual Sum of Squares (RSS): ", round(rss, dp))
    mse = metrics.mean_squared_error(actual, predicted)
    print("Mean Squared Error: ", round(mse, dp))
    rmse = np.sqrt(mse)
    print("Root Mean Squared Error: ", round(rmse, dp))
    rsquared = metrics.r2_score(actual, predicted)
    print("R squared score: ", round(rsquared, dp))
    
    return {'mae': mae, 'rss': rss, 'mse': mse, 'rmse': rmse, 'rsquared': rsquared}

In [32]:
model_performance(y_test, normalised_pred)

Mean Absolute Error (MAE):  0.082
Residual Sum of Squares (RSS):  66.116
Mean Squared Error:  0.011
Root Mean Squared Error:  0.106
R squared score:  0.643

{'mae': 0.08216970202681717,
 'rss': 66.11557915292724,
 'mse': 0.011166285957258442,
 'rmse': 0.10567064851347531,
 'rsquared': 0.6427789637197383}

### Model Implementation 2

In [37]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

features_df = normalised_df.drop(columns='Appliances')
target_df = normalised_df['Appliances']

X_train, X_test, y_train, y_test = train_test_split(features_df, target_df, test_size=0.3, random_state=42)

In [38]:
X_train

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
9129,0.497360,0.236767,0.122850,0.565939,0.373878,0.303474,0.476577,0.264760,0.408027,0.159533,...,0.475893,0.376380,0.168810,0.862791,0.776316,0.142857,0.984615,0.192308,0.724554,0.724554
2453,0.286167,0.482616,0.188999,0.669978,0.217957,0.735317,0.270270,0.691421,0.178691,0.333576,...,0.240375,0.703504,0.262594,0.836434,0.807018,0.142857,0.600000,0.342383,0.864041,0.864041
9152,0.422386,0.230529,0.057427,0.606430,0.373878,0.338059,0.414414,0.236449,0.378404,0.151639,...,0.468262,0.409803,0.110397,0.853488,0.859649,0.095238,0.917949,0.158371,0.499502,0.499502
12694,0.560718,0.446840,0.280834,0.704002,0.514290,0.515189,0.540541,0.486556,0.509317,0.424604,...,0.561915,0.340784,0.444802,0.559690,0.750000,0.119048,0.384615,0.558069,0.323173,0.323173
16952,0.835269,0.422071,1.000000,0.318493,0.745383,0.459106,0.900901,0.516432,0.748845,0.455819,...,0.854318,0.633278,0.849946,0.530233,0.355263,0.142857,0.600000,0.787330,0.341060,0.341060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0.524815,0.381892,0.239157,0.636236,0.481888,0.478268,0.576577,0.517712,0.455805,0.250877,...,0.568852,0.471578,0.468382,0.492248,0.706140,0.476190,0.600000,0.562594,0.910318,0.910318
11964,0.591341,0.458949,0.428883,0.607461,0.456962,0.582489,0.557658,0.702518,0.417582,0.285310,...,0.561915,0.625966,0.717042,0.469767,0.552632,0.142857,0.600000,0.791855,0.698711,0.698711
5390,0.369588,0.238785,0.152653,0.481582,0.240944,0.412370,0.279279,0.325651,0.302914,0.161743,...,0.312175,0.426325,0.126474,0.595349,0.828947,0.261905,0.948718,0.165913,0.381388,0.381388
860,0.527983,0.234933,0.315047,0.412016,0.332336,0.380122,0.540541,0.341585,0.259914,0.245539,...,0.375650,0.509106,0.227224,0.831008,0.530702,0.095238,0.600000,0.114630,0.020909,0.020909
15795,0.478705,0.294652,0.275503,0.509045,0.456962,0.365633,0.414414,0.502490,0.369804,0.192086,...,0.468262,0.500828,0.374598,0.682558,0.809211,0.071429,0.600000,0.495475,0.349076,0.349076

In [39]:
y_train

9129     0.037383
2453     0.018692
9152     0.028037
12694    0.102804
16952    0.037383
           ...
11284    0.046729
11964    0.102804
5390     0.018692
860      0.065421
15795    0.112150
Name: Appliances, Length: 13814, dtype: float64

In [40]:
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
linear_reg_pred = linear_reg.predict(X_test)

In [42]:
results = pd.DataFrame({'Actual':y_test, 'Predicted':linear_reg_pred })
results

         Actual  Predicted
8980   0.028037   0.033222
2754   0.074766   0.244116
9132   0.037383   0.034000
14359  0.037383   0.105377
8875   0.056075   0.023360
...         ...        ...
831    0.224299   0.086607
10993  0.046729   0.075163
11761  0.037383   0.068447
12364  0.093458   0.100323
11863  0.037383   0.057222

[5921 rows x 2 columns]

In [44]:
print('Performance for Linear Regression:')
model_performance(y_test, linear_reg_pred)

Performance for Linear Regression:
Mean Absolute Error (MAE):  0.05
Residual Sum of Squares (RSS):  45.348
Mean Squared Error:  0.008
Root Mean Squared Error:  0.088
R squared score:  0.149

{'mae': 0.050133623977429535,
 'rss': 45.34762967266377,
 'mse': 0.007658778867195367,
 'rmse': 0.0875144494766171,
 'rsquared': 0.14890246319303535}

In [56]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [57]:
ridge_reg_pred = ridge_reg.predict(X_test)

In [58]:
model_performance(y_test, ridge_reg_pred)

Mean Absolute Error (MAE):  0.05
Residual Sum of Squares (RSS):  45.368
Mean Squared Error:  0.008
Root Mean Squared Error:  0.088
R squared score:  0.149

{'mae': 0.05008744584092382,
 'rss': 45.36774486216905,
 'mse': 0.00766217612939859,
 'rmse': 0.08753385704628004,
 'rsquared': 0.1485249354509257}

In [59]:
results = pd.DataFrame({'Actual':y_test, 'Predicted':ridge_reg_pred })
results

         Actual  Predicted
8980   0.028037   0.033219
2754   0.074766   0.240438
9132   0.037383   0.034613
14359  0.037383   0.107071
8875   0.056075   0.023944
...         ...        ...
831    0.224299   0.084344
10993  0.046729   0.075207
11761  0.037383   0.068724
12364  0.093458   0.100255
11863  0.037383   0.058512

[5921 rows x 2 columns]

In [60]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [61]:
lasso_reg_pred = lasso_reg.predict(X_test)

In [62]:
model_performance(y_test, lasso_reg_pred)

Mean Absolute Error (MAE):  0.055
Residual Sum of Squares (RSS):  51.853
Mean Squared Error:  0.009
Root Mean Squared Error:  0.094
R squared score:  0.027

{'mae': 0.055256639821262235,
 'rss': 51.85336739590869,
 'mse': 0.008757535449401907,
 'rmse': 0.09358170467245137,
 'rsquared': 0.026800880567125818}

In [63]:
results = pd.DataFrame({'Actual':y_test, 'Predicted':lasso_reg_pred })
results

         Actual  Predicted
8980   0.028037   0.073703
2754   0.074766   0.081435
9132   0.037383   0.077161
14359  0.037383   0.088481
8875   0.056075   0.070655
...         ...        ...
831    0.224299   0.079210
10993  0.046729   0.086004
11761  0.037383   0.077928
12364  0.093458   0.090344
11863  0.037383   0.083593

[5921 rows x 2 columns]

In [71]:
def get_weights_df(model, feat, col_name):
    
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [72]:
linear_model_weights = get_weights_df(linear_reg, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [73]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv2             0.000770      0.000748     -0.000000
11          rv1             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

In [ ]:
####top five performing features: ['kitchen humidity', 'living-room humidity', 'laundry-room temperature', 'outside temperature', 'northside-outdoor temperature']

In [ ]:
### These features are the relevant variables that minimise the prediction errors the most. For this, we pick the following variables: ['outside humidity', 'week', 'lights (Wh)', 'hour', 'laundry-room temperature']

In [74]:
lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880